* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Sora, sans-serif;
}

:root {
    --line-clamp: 3;
}
/* ==== Common ==== */
.main-content {
    width: 1170px;
    margin: auto;
    max-width: calc(100% - 48px);
}

.btn {
    min-width: 104px;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    border-radius: 30px;
    background: #2e80ce;
    border: none;
    line-height: 44px;
}

.btn:hover {
    opacity: 0.8;
}

a {
    text-decoration: none;
}

.line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--line-clamp);
    overflow: hidden;
}

/* ==== navbar ==== */
.header {
    padding-top: 22px;
    background: #10375c;
}

.wrap-nav {
    position: static;
    top: -22px;
    z-index: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

.navbar__list {
    display: flex;
    /* margin-left: auto; */
}

.list-item {
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
    padding: 0 21px;
}

.list-item:hover,
.action__link:hover {
    text-shadow: 1px 0 0 currentColor;
}

.active {
    position: relative;
    text-shadow: 1px 0 0 currentColor;
}

.active::before {
    position: absolute;
    content: " ";
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
    bottom: 7px;
    left: 5px;
}

.action__link {
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
}

.navbar__action__btn {
    border-radius: 22px;
    margin-left: 28px;
}

/* ==== hero ==== */
.hero {
    padding-top: 68px;
    padding-bottom: 110px;
}
.hero__body {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* gap: 113px; */
}

.body__info {
    max-width: 44%;
    margin-right: 113px;
}

.info__header {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14; /* 114.286% */
    letter-spacing: -1.4px;
}

.info__desc {
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66; /* 166.667% */
    margin: 12px 0 38px;
}

.info__cta__btn {
    min-width: 205px;
    font-size: 1.8rem;
    line-height: 60px;
    margin-right: 38px;
}

.info__phone-number {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
}

.hero__imgages {
    display: flex;
    align-items: center;
}

.hero__imgages__1,
.hero__imgages__2 {
    object-fit: cover;
    border-radius: 6px;
}

.hero__imgages__1 {
    width: 330px;
    height: 540px;
}

.hero__imgages__2 {
    width: 210px;
    height: 410px;
}
